#!/usr/bin/env false bash
# -*- coding: utf-8 -*-
# cannot be run directly; called from .bash_profile or .bashrc
# BASH_SOURCE=${(%):-%N} # to ease the transition to zsh
# *############################################################################
# initial settings
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
export CGO_ENABLED=1

# keys
export SH_KEY_PATH="${HOME}/.ssh/"

# utilities
[ -n $SSH_CONNECTION ] && export EDITOR='nano' || export EDITOR='nano'

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# System
export ARCHFLAGS="-arch x86_64"
export HISTSIZE=32768
export HISTFILESIZE="${HISTSIZE}"
export HISTCONTROL='ignoreboth'

# Python
unset PYTHONDONTWRITEBYTECODE
export PYTHONIOENCODING='UTF-8'
# python sucks ... virtual environments suck ...
# someone should find a better way to do this ... it's so stupid
export WORKON_HOME="${HOME}/.virtualenvs"
export PROJECT_HOME="${HOME}/Documents/coding/"
# source $(which virtualenvwrapper.sh)
[[ $(which pyenv >/dev/null) ]] && eval "$(pyenv init -)"
[[ $(which pyenv-virtualenv-init >/dev/null) ]] && eval "$(pyenv virtualenv-init -)"

# Node
export NODE_REPL_HISTORY="${HOME}/.node_history"
export NODE_REPL_HISTORY_SIZE=32768
export NODE_REPL_MODE='sloppy'

############################################################################
# Enable some Bash 4 features when possible:
# Case-insensitive globbing (used in pathname expansion) : shopt -s nocaseglob;
# Append to the Bash history file vs. overwriting it : shopt -s histappend;
# Autocorrect typos in path names when using `cd` : shopt -s cdspell;
# Autocd, e.g. `**/qux` will enter `./foo/bar/baz/qux`
# Recursive globbing, e.g. `echo **/*.txt`
for option in nocaseglob histappend cdspell autocd globstar; do
    shopt -s "$option" &>/dev/null
done

run_debug_exports() {
    # list current versions of common utilities
    ce "Script source:$MAIN $BASH_SOURCE$RESET"
    green "\$LANG is set to $LANG."
    # green "\$LOCAL_IP is set to and exported as $LOCAL_IP."
}
main_exports() {
    [ $DEBUG == '1' ] && run_debug_exports
}

[ $SET_DEBUG == '1' ] && main_exports
